@tailwind base;
@tailwind components;
@tailwind utilities;
p {
  text-align: justify;
  margin-bottom: 1rem;
}
.line-below {
  @apply relative block;
  /* @apply relative block before:absolute before:bottom-0 before:left-0 before:right-0 before:h-1 before:w-64 before:bg-white before:m-auto; */
}

.line-below::after {
  content: "";
  @apply absolute bg-white;
  top: 90px;
  left: 0;
  right: 0;
  height: 2px;
  width: 30%;
  margin: auto;
}
.bg-gray {
  @apply bg-[#f1f1f1];
}
.blackLine {
  @apply bg-black h-1 ml-14;
}

.k-facult-sub {
  @apply text-xs md:text-sm font-normal mt-1 text-center;
}
/* @media (max-width: 640px) {
  .line-below::after {
    content: "";
    position: absolute;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    top: 130px;
    left: 0;
    right: 0;
    height: 2px;
    width: 63%;
  }
}
.ellipsis-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iframe_video iframe {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.sub_title {
  color: #b11016;
  font-weight: 500;
  font-size: 18px;
}

.border_line {
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}

table tr th {
  background-color: #000;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

table tr td {
  color: #424a53;
  text-align: center;
} */

@media (max-width: 640px) {
  .line-below::after {
    @apply absolute bg-white top-[130px] left-0 right-0 h-[2px] w-[63%];
  }
}

.ellipsis-two-lines {
  @apply overflow-hidden text-ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.iframe_video iframe {
  @apply rounded-md w-full h-full;
}

.sub_title {
  @apply text-[#b11016] font-medium text-lg;
}

.border_line {
  @apply border-b border-black mb-10;
}

table tr th {
  @apply bg-black text-white text-center align-middle;
}

table tr td {
  @apply text-[#424a53] text-center;
}
.innerpagecontet p {
  @apply my-5 text-sm md:text-lg;
}
.innerpagecontet ul {
  @apply my-5 text-sm md:text-lg;
}

/* Base styles */
.kc-colloquy-ul-li {
  @apply text-white text-base py-3 px-3 cursor-pointer relative;
}

/* Active state */
.kc-colloquy-ul-li.active::after {
  content: "";
  @apply absolute w-full h-1 bg-white bottom-0 left-0;
  animation: underline-animation 0.3s ease-in-out forwards;
}

/* Keyframes */
@keyframes underline-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Section container */
.kc-section-container {
  @apply bg-gray-200 flex justify-center;
}

/* Panel container */
.panel-container {
  @apply bg-white;
}

/* Section content container */
.kc-section-content-container {
  @apply w-3/4 flex flex-col items-start pt-16 pb-16;
}

.section-headings {
  @apply text-[28px] text-[#b51c1f] font-normal mb-7;
}

.panel-section-container {
  @apply py-7;
}

.panel-discussion-title-container {
  @apply flex my-5;
}

.panel-discussion-title {
  @apply text-[22px] text-black font-bold;
}

.pointer-icon {
  @apply text-[28px] mr-5;
}

.kc-colloquy-ul-research {
  @apply list-disc pl-4 md:pl-10;
}

.kc-colloquy-ul-li-research {
  @apply leading-8 pl-1 md:pl-5 text-base;
}

.anchor-mail {
  @apply text-[#005aff99];
}

.anchor {
  @apply font-semibold text-[#005aff99];
}

.anchor:hover {
  @apply font-semibold text-[#005aff99];
}
