@tailwind base;
@tailwind components;
@tailwind utilities;
p {
  text-align: justify;
  margin-bottom: 1rem;
}
.line-below {
  @apply relative block;
  /* @apply relative block before:absolute before:bottom-0 before:left-0 before:right-0 before:h-1 before:w-64 before:bg-white before:m-auto; */
}

.line-below::after {
  content: "";
  @apply absolute bg-white;
  top: 90px;
  left: 0;
  right: 0;
  height: 2px;
  width: 30%;
  margin: auto;
}
.bg-gray {
  @apply bg-[#f1f1f1];
}
.blackLine {
  @apply bg-black h-1 ml-14;
}

.k-facult-sub {
  @apply text-xs md:text-sm font-normal mt-1 text-center;
}
/* @media (max-width: 640px) {
  .line-below::after {
    content: "";
    position: absolute;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    top: 130px;
    left: 0;
    right: 0;
    height: 2px;
    width: 63%;
  }
}
.ellipsis-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iframe_video iframe {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.sub_title {
  color: #b11016;
  font-weight: 500;
  font-size: 18px;
}

.border_line {
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}



table tr td {
  color: #424a53;
  text-align: center;
} */

@media (max-width: 640px) {
  .line-below::after {
    @apply absolute bg-white top-[130px] left-0 right-0 h-[2px] w-[63%];
  }
}

.ellipsis-two-lines {
  @apply overflow-hidden text-ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.iframe_video iframe {
  @apply rounded-md w-full h-full;
}

.sub_title {
  @apply text-[#b11016] font-medium text-lg;
}

.border_line {
  @apply border-b border-black mb-10;
}

table tr th {
  @apply bg-black text-white text-center align-middle;
}

table tr td {
  @apply text-[#424a53] text-center;
}
