@tailwind base;
@tailwind components;
@tailwind utilities;

.line-below {
  @apply relative block;
  /* @apply relative block before:absolute before:bottom-0 before:left-0 before:right-0 before:h-1 before:w-64 before:bg-white before:m-auto; */
}

.line-below::after {
  content: "";
  @apply absolute bg-white;
  top: 90px;
  left: 0;
  right: 0;
  height: 2px;
  width: 30%;
  margin: auto;
}
.bg-gray {
  @apply bg-[#f1f1f1];
}
.blackLine {
  @apply bg-black h-1 ml-14;
}

.k-facult-sub {
  @apply text-xs md:text-sm font-normal mt-1;
}

.ellipsis-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
